[submodule "public"]
	path = public
	url = https://github.com/frankzhang427/frankzhang427.github.io.git
	branch = master
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
	branch = master
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
